<!DOCTYPE html>
<meta charset="utf-8">
<title>Git</title>
<style>
body {
	font: 30px sans-serif;
}
.important {
	font-size: 20px;
}
.important b {
	color: red;
}
.center { text-align: center }
</style>

<h1>Repo Create Success</h1>

<p><b>Git URL: </b><%= username %>@<%= ip %>:repo.git</p>
<p><b>Password: </b><code><%= password %></code>
<p class="important">
<b>Important:</b> You must remember your Git URL and password. To save, press Ctrl+S (Windows) or &#x2318;S (Mac)
</p>
<p class="center"><a href="/log/<%= username %>">view git log</a></p>
