<!DOCTYPE html>
<meta charset="utf-8">
<title>Git</title>
<style>
body {
	font: 30px sans-serif;
}
</style>

<h1>Repo Create Success</h1>

<p><b>Git URL: </b><%= username %>@<%= ip %>:repo.git</p>
<p><b>Password: </b><code><%= password %></code>
